.mystyling {
    color: yellow;
    background-color: green;
    text-align: center;
    text-decoration: underline
}

.mystyling2 {
    color: red;
    background-color: green;
    text-align: center;
    text-decoration: underline
}